/* HTML */
html {
	overflow-y: scroll;
  text-align: center;
  background-color: #f5f5f5;
}


/* Head button */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
  overflow: hidden;
  background-color: #686868;
}
li {
  float: left;
  width: 25%;
}
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 12px;
  text-decoration: none;
}
li a:hover {
  background-color: #bcbcbc;
}

/* Link */
a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

/* Table */
table, th, td {
  border:1px solid rgb(120, 120, 120);
  border-color: #96D4D4;
}