<!DOCTYPE html>
<html lang="en">
<head>
<title>Hymnus</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/5/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.0/font/bootstrap-icons.css">
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>

<style>
html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif;}
.w3-sidebar {
  z-index: 3;
  width: 250px;
  top: 43px;
  bottom: 0;
  height: inherit;
}
</style>
</head>
<body>

<!-- Navbar -->
<div class="w3-top">
  <div class="w3-bar w3-theme w3-top w3-left-align w3-large">
    <a class="w3-bar-item w3-button w3-right w3-hide-large w3-hover-white w3-large w3-theme-l1" href="javascript:void(0)" onclick="w3_open()"><i class="fa fa-bars"></i></a>
    <a href="/index" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Hymnus</a>
    <a href="/about" class="w3-bar-item w3-button w3-hide-small w3-hover-white">About</a>
    <a href="/contact" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Contact</a>
  </div>
</div>

<!-- Sidebar -->
<nav class="w3-sidebar w3-bar-block w3-collapse w3-large w3-theme-l5 w3-animate-left" id="mySidebar">
  <a href="javascript:void(0)" onclick="w3_close()" class="w3-right w3-xlarge w3-padding-large w3-hover-black w3-hide-large" title="Close Menu">
    <i class="fa fa-remove"></i>
  </a>
  <h4 class="w3-bar-item"><b>Browse</b></h4>
  <a class="w3-bar-item w3-button w3-hover-black "      href="/search">Search</a>
  <a class="w3-bar-item w3-button w3-hover-black "   href="/browse/all-pieces">All Pieces</a>
  <a class="w3-bar-item w3-button w3-hover-black " href="/browse/collections">Collections</a>
  <a class="w3-bar-item w3-button w3-hover-black "   href="/browse/composers">By Composer</a>
</nav>

<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- Main content: shift it to the right by 250 pixels when the sidebar is visible -->
<div class="w3-main" style="margin-left:250px">
  <div class="w3-row w3-padding-64">
    <div class="w3-twothird w3-container">
      <h1 class="w3-text-gray">Create new piece</h1>



<form method="post" enctype="multipart/form-data">

      <div id="new-piece-form-1">
        <label for="new-piece-title">Title</label>
        <input id="new-piece-title" name="new-piece-title" type="text" class="form-control" placeholder="Title">
        <br>
        <label for="new-piece-subtitle">Subtitle</label>
        <input id="new-piece-subtitle" name="new-piece-subtitle" type="text" class="form-control" placeholder="Subtitle">
        <br>
        <label for="new-piece-subsubtitle">Subsubtitle</label>
        <input id="new-piece-subsubtitle" name="new-piece-subsubtitle" type="text" class="form-control" placeholder="Subsubtitle">
        <br>
        <label for="new-piece-dedicated">Dedicated to</label>
        <input id="new-piece-dedicated" name="new-piece-dedicated" type="text" class="form-control" placeholder="Dedicated to">
        <br>
        <label for="new-piece-opus">Opus</label>
        <input id="new-piece-opus" name="new-piece-opus" type="text" class="form-control" placeholder="Op. ">
        <br>
        <label for="new-piece-year">Composed year</label>
        <input id="new-piece-year" name="new-piece-year" type="text" class="form-control" placeholder="1800? ">
        <br>
      </div>

      <label for="select-composer">Select composer from drop-down menu.</label>
      <div class="form-row">
        <div class="col-auto">
          <button type="button" id="button-composer" class="btn btn-secondary" onclick="createDropDownMenu('select-composer')">Show Composers</button>
        </div>
        <div class="col-auto">
          <select class="custom-select mr-sm-1" id="select-composer" name="select-composer">
          </select>
        </div>
      </div>
      <br>

      <label for="select-arranger">For arranged piece, tick the box and select arranger.</label>
      <div class="form-row">
        <div class="col-auto">
          <button type="button" id="button-arranger" class="btn btn-secondary" onclick="createDropDownMenu('select-arranger')">Show Arrangers</button>
        </div>
        <div class="col-auto">
          <select class="custom-select mr-sm-1" id="select-arranger" name="select-arranger">
          </select>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="check-is-arranged-piece" id="check-is-arranged-piece" value="yes" onchange="setArranged()">
          <label class="form-check-label" for="check-is-arranged-piece">
            Yes
          </label>
          &nbsp
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="check-is-not-arranged-piece" id="check-is-not-arranged-piece" checked value="no" onchange="setNotArranged()">
          <label class="form-check-label" for="check-is-not-arranged-piece">
            No
          </label>
        </div>
      </div>

      <div id="new-piece-form-2">
        <br>
        <label for="arranger-name">Arranger name, if not in the list (optional):</label>
        <input id="arranger-name" name="arranger-name" type="text" class="form-control" placeholder="Some Musician">
        <br>
        <label for="new-piece-instrument">Instruments</label>
        <input id="new-piece-instrument" name="new-piece-instrument" type="text" class="form-control" placeholder="Piano, Violin, ...">
        <br>
        <label for="new-piece-comment">Comment</label>
        <textarea class="form-control" id="new-piece-comment" name="new-piece-comment" placeholder="Any comment here." aria-label="new-piece-comment-label"></textarea>
      </div>
      <div>
        <br>
        <button type="button" id="new-piece-generate" class="btn btn-primary" onclick="autoCorrectInput()"><i
          class="bi bi-clipboard-check"></i> Validate</button>
        &nbsp;
        <button type="button" id="new-piece-script-clear" class="btn btn-primary" onclick="clearInput()">Clear</button>
      </div>
      <br>
      <input id="new-piece-script" class="form-control" type="text" disabled>
       <input type="submit" class="btn btn-secondary" id="submit-button-successful" value="Create New Piece" disabled>
      <script>
        var COMPOSERLISTDATA = [] ;

{% if composerlist %}
COMPOSERLISTDATA = [
  {% for composer in composerlist %}
    [ "{{ composer["code"] }}", "{{ composer["name"] }}" ],
  {% endfor %}
[]
] ;
{% endif %}

      </script>
      <script src="{{ url_for('static', filename='new_piece.js') }}"></script>

<div class="input-group mt-4">
  <label class="form-label">Please provide your username and password:</label>
</div>
<div class="input-group mb-5" id="user-login-group">
  <div class="input-group-prepend">
    <span class="input-group-text">User</span>
  </div>
  <input type="text" name="user" id="form-user" placeholder="User Name" class="form-control">
  <div class="input-group-prepend">
    <span class="input-group-text">Password</span>
  </div>
  <input type="password" name="password" id="form-password" placeholder="Password" class="form-control">
</div>

</form>

<!--  TIPS  -->
<p>
  <button class="btn btn-warning" type="button" data-toggle="collapse" data-target="#collapseWidth" aria-expanded="false" aria-controls="collapseWidth">
    Tips filling this form
  </button>
</p>
<div style="min-height: 120px;">
  <div class="collapse width" id="collapseWidth">
    <div class="card card-body">
      <ul>
        <li>Before creating, check if the piece already exists.</li>
        <li>Only the title and composer fields are mandatory.</li>
        <li>If this is an arranged work, provide either arranger name from dropdown menu, or enter the name as freetext.</li>
        <li>Double check your spelling before clicking the submit button.</li>
        <li>Avoid using default quote and apostrophes, use the following special characters: <code>« » ‹ › “ ” ‘ ’ „ “ ‚ ‘</code></li>
      </ul>
    </div>
  </div>
</div>


    </div>
  </div>
<!-- END MAIN -->
</div>

<script>
// Get the Sidebar
var mySidebar = document.getElementById("mySidebar");

// Get the DIV with overlay effect
var overlayBg = document.getElementById("myOverlay");

// Toggle between showing and hiding the sidebar, and add overlay effect
function w3_open() {
  if (mySidebar.style.display === 'block') {
    mySidebar.style.display = 'none';
    overlayBg.style.display = "none";
  } else {
    mySidebar.style.display = 'block';
    overlayBg.style.display = "block";
  }
}

// Close the sidebar with the close button
function w3_close() {
  mySidebar.style.display = "none";
  overlayBg.style.display = "none";
}
</script>

</body>
</html>
