<!DOCTYPE html>
<html lang="en">
<head>
<title>Hymnus</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/5/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.0/font/bootstrap-icons.css">
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>

<style>
html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif;}
.w3-sidebar {
  z-index: 3;
  width: 250px;
  top: 43px;
  bottom: 0;
  height: inherit;
}
</style>
</head>
<body>

<!-- Navbar -->
<div class="w3-top">
  <div class="w3-bar w3-theme w3-top w3-left-align w3-large">
    <a class="w3-bar-item w3-button w3-right w3-hide-large w3-hover-white w3-large w3-theme-l1" href="javascript:void(0)" onclick="w3_open()"><i class="fa fa-bars"></i></a>
    <a href="/index" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Hymnus</a>
    <a href="/about" class="w3-bar-item w3-button w3-hide-small w3-hover-white">About</a>
    <a href="/contact" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Contact</a>
  </div>
</div>

<!-- Sidebar -->
<nav class="w3-sidebar w3-bar-block w3-collapse w3-large w3-theme-l5 w3-animate-left" id="mySidebar">
  <a href="javascript:void(0)" onclick="w3_close()" class="w3-right w3-xlarge w3-padding-large w3-hover-black w3-hide-large" title="Close Menu">
    <i class="fa fa-remove"></i>
  </a>
  <h4 class="w3-bar-item"><b>Browse</b></h4>
  <a class="w3-bar-item w3-button w3-hover-black "   href="/search">Search</a>
  <a class="w3-bar-item w3-button w3-hover-black "   href="/browse/all-pieces">All Pieces</a>
  <a class="w3-bar-item w3-button w3-hover-black "   href="/browse/collections">Collections</a>
  <a class="w3-bar-item w3-button w3-hover-black "   href="/browse/composers">By Composer</a>
</nav>

<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- Main content: shift it to the right by 250 pixels when the sidebar is visible -->
<div class="w3-main" style="margin-left:250px">

  <div class="w3-row w3-padding-64">
    <div class="w3-twothird w3-container">
      <h1 class="w3-text-gray">Create new collection</h1>

      <div id="new-collection-form-1">
        <label for="new-collection-title">Title</label>
        <input id="new-collection-title" type="text" class="form-control" placeholder="Title"/>
        <br>
        <label for="new-collection-subtitle">Subtitle</label>
        <input id="new-collection-subtitle" type="text" class="form-control" placeholder="Subtitle"/>
        <br>
        <label for="new-collection-subsubtitle">Subsubtitle</label>
        <input id="new-collection-subsubtitle" type="text" class="form-control" placeholder="Subsubtitle"/>
        <br>
        <label for="new-collection-editor">Editor</label>
        <input id="new-collection-editor" type="text" class="form-control" placeholder="Editions Inc."/>
        <br>
        <label for="new-collection-opus">Opus</label>
        <input id="new-collection-opus" type="text" class="form-control" placeholder="Op. 1 - 10"/>
        <br>
        <label for="new-collection-volume">Volume</label>
        <input id="new-collection-volume" type="text" class="form-control" placeholder="I, II, III"/>
        <br>
      </div>
      <label for="select-composer">This collection belongs to one composer?</label>
      <div class="form-row">
        <div class="col-auto">
          <button id="button-composer" class="btn btn-secondary" onclick="createDropDownMenu('select-composer')">Show Composers</button>
        </div>
        <div class="col-auto">
          <select class="custom-select mr-sm-1" id="select-composer">
          </select>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="collection-has-composer" id="has-composer-radio1" value="yes" onchange="setHasComposer()">
          <label class="form-check-label" for="has-composer-radio1">
            Yes
          </label>
          &nbsp
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="collection-has-composer" id="has-composer-radio2" checked value="no" onchange="setHasNoComposer()">
          <label class="form-check-label" for="has-composer-radio2">
            No
          </label>
        </div>
      </div>

      <div id="new-collection-form-2">
        <br>
        <label for="new-collection-instrument">Instruments</label>
        <input id="new-collection-instrument" type="text" class="form-control" placeholder="Piano, Violin, ..."/>
        <br>
        <label for="new-collection-description">Description</label>
        <textarea class="form-control" id="new-collection-description" placeholder="Describe this collection." aria-label="new-collection-description-label"></textarea>
      </div>
      <div>
        <br>
        <button id="new-collection-script-generate" class="btn btn-primary" onclick="generateScript()"><i class="bi bi-filetype-sh"></i>Generate</button>
        &nbsp;
        <button id="new-collection-script-clear" class="btn btn-primary" onclick="clearScript()">Clear</button>
      </div>
      <br>
      <input id="new-collection-script" class="form-control" type="text" disabled>
      <div class="valid-feedback">
        <p>You may now <a href="/submit-script" target="_blank" class="text-success">submit</a> the script.</p>
      </div>
      <button class="btn btn-secondary" onclick="copyToClipboard()"><i class="bi bi-copy"></i></button>
      <p style="color:white;">« »	‹ › “ ” ‘ ’ „ “	‚ ‘</p>

      <script>
        var COMPOSERLISTDATA = [] ;

{% if composerlist %}
COMPOSERLISTDATA = [
  {% for composer in composerlist %}
    [ "{{ composer["code"] }}", "{{ composer["name"] }}" ],
  {% endfor %}
[]
] ;
{% endif %}

      </script>
      <script src="{{ url_for('static', filename='new_collection.js') }}"></script>
    </div>
  </div>

<!-- END MAIN -->
</div>

<script>
// Get the Sidebar
var mySidebar = document.getElementById("mySidebar");

// Get the DIV with overlay effect
var overlayBg = document.getElementById("myOverlay");

// Toggle between showing and hiding the sidebar, and add overlay effect
function w3_open() {
  if (mySidebar.style.display === 'block') {
    mySidebar.style.display = 'none';
    overlayBg.style.display = "none";
  } else {
    mySidebar.style.display = 'block';
    overlayBg.style.display = "block";
  }
}

// Close the sidebar with the close button
function w3_close() {
  mySidebar.style.display = "none";
  overlayBg.style.display = "none";
}
</script>

</body>
</html>
